body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#mobile-fullscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color: #015BFD;
    color: white;
    /* font-size: 20px; */
    font-family: 'Poppins';
    font-weight: 600;
    display: none; justify-content: center; align-items: center;
}

  .loading-page {
    /* background-image: url('spalsh-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: white;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
  
  .loading-page > .wrap-loading {
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 8px;
  }
  
  .loading-page > .wrap-loading > .progress {
    justify-content: flex-start;
    background: #e6e6e6;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    display: -webkit-flex;
    height: 20px;
    width: 50vw;
    margin-left: 16px;
    margin-right: 16px;
    /* padding: 2px; */
    /* border-style: solid;
    border-color: #ab9170; */
  }
  
  
  .loading-page > .wrap-loading > .progress > .progress-value {
    background: #015BFD;
    height: 20px;
    border-radius: 50px;
    width: 10%;
  }

  @font-face{
    font-family: brush-script;
    src: url('BRUSHSCI.TTF');
  }

  .loading-page>.wrap-loading>.title{
    /* font-family: brush-script; */
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 50px;
    color: #000000;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
  
  /* .btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #EC1A82;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .btn-secondary {
    color: #EC1A82;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #FFEAF4;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .btn-transparant {
    color: #EC1A82;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #FFF;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  } */

  #startARDiv {
    height: 100vh;
    background-color: gray;
    font-family: 'Poppins'
  }
  
  #startARDiv .permission{
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
    width: 350px;
    height: 300px;
  }

  .permisson-content{
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  .cam-icon{
    height: 80px;
    width: 80px;
  }

  .btns{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    padding-top: 20px;
  }
  
  .btn-permission-yes{
    width: 115px;
    height: 48px;
    border-radius: 32px;
    background-color: #015BFD;
    border: none;
    color: #ffffff;
    font-size: 14px;
  }

  .btn-permission-no{
    width: 115px;
    height: 48px;
    border-radius: 32px;
    background-color: transparent;
    border-color: #015BFD;
    color: #015BFD;
    font-size: 14px;
  }

  .divider{
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
